<h1>Enter two words :</h1>
<%= form_tag '/distance', multipart: true do %>
  <%= label_tag :first_word%>
  <%= text_field_tag :word1, (!@word1.nil? ? @word1 : "") %>
  <br>
  <%= label_tag :second_word%>
  <%= text_field_tag :word2, (!@word2.nil? ? @word2 : "") %>
  <%= submit_tag "Distance" %>
<% end %>
<br>
<%- if !@distance.nil? %>
  Levenshtein Distance is <%= @distance %>
<% end %>
<hr>
<br>
<h1>Select CSV File</h1>
<%= form_tag '/upload', multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>
<hr>
<br>
<center> <table border="1">
  <th width="300" >Word</th>
  <th width="300" >Stemmer</th>
  <%- @words.each do |w| %>
  <tr>
    
  <td height="33"> <center>
    <%= w.name %> </center> </td>

  <td height="33"> <center>
  <%= w.stemmer %> </center> </td>
  </tr>
  <% end %>
</table> </center>

<%= link_to "clean", "/clean", :confirm => "Are you sure you want to clean all stemmer words !? ", :method => :delete %>